@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  position: relative;
  background-color: #FBFBFB !important;
}
body .hview {
  height: 100vh;
}

.nav-top {
  position: fixed !important;
  top: 0;
  lef: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}
.nav-top .nav-border-navigator {
  border-bottom: 1px solid #FFA756;
}
.nav-top .min-container {
  position: relative;
  display: block;
  width: 90%;
  margin: auto;
}
.nav-top .min-container .nav-logo h3 {
  font-weight: 600;
  margin: 0;
}
.nav-top .min-container .nav-logo h3 span {
  color: #FFA756;
}
.nav-top .min-container .nav-links {
  list-style: none;
  color: #fff;
  margin-bottom: 0;
  width: calc(30% + 40px);
}
.nav-top .min-container .nav-links .nav-link {
  padding: 0.5rem 0;
}

#carouselExampleIndicators {
  width: 100% !important;
}

.carousel .carousel-inner {
  max-height: 90vh !important;
}
.carousel .carousel-indicators {
  bottom: 6rem;
}
.carousel .carousel-indicators li, .carousel .carousel-indicators li.active {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.carousel .address-box {
  position: absolute;
  height: 12rem;
  width: 90%;
  background: #1A3B5A;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
}
.carousel .address-box .address-details {
  width: 50%;
  padding: 25px;
}
.carousel .address-box .address-soc-icons {
  width: 30%;
  padding: 25px;
}
.carousel .address-box .address-gallery {
  width: 20%;
}
.carousel .address-box .address-gallery img {
  height: 12rem;
  width: 100%;
}

.min-container {
  position: relative;
  display: block;
  width: 90%;
  margin: auto;
}

.cbtn {
  width: 200px;
  background: red !important;
  font-size: 1rem;
  padding: 1rem 2rem;
  text-decoration: none !important;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.cbtn .btn-icon {
  height: 0.8rem;
  margin-left: 20px;
}

.about-section {
  margin: 12rem 0;
  height: auto;
  width: 100%;
}
.about-section .about-text-container {
  flex-direction: column;
  justify-content: space-around;
}
.about-section h5 {
  font-size: 3rem;
}
.about-section p {
  font-size: 1.2rem;
}

.statistics-section {
  height: auto;
  width: 100%;
  background: #fff;
  box-shadow: 0px 15px 25px 4px rgba(75, 75, 75, 0.02) !important;
}
.statistics-section .min-container {
  width: 80%;
}
.statistics-section .stats-box {
  margin: 5rem 0;
}
.statistics-section .stats-box .stats-icon {
  height: 50px;
  widows: 50px;
  margin: 0 0 1.5rem 0;
}
.statistics-section .stats-box .stats-number {
  display: block;
  font-size: 80px;
  font-weight: 600;
  color: #FFA756;
  line-height: 75px;
}
.statistics-section .stats-box p {
  font-size: 20px;
  font-weight: 600;
  color: #1A3B5A;
  margin: 0;
}

.products-section {
  margin: 5rem 0;
}

/*# sourceMappingURL=main.css.map */
