
.cbtn
    width: 200px
    font-size: 1rem
    padding: .8rem 1.7rem
    text-decoration: none !important
    cursor: pointer
    position: relative
    display: flex
    justify-content: space-between


.cinput 
    width: 100%
    padding: .8rem 1rem
    outline: none
    border: none
    background: #fff


.cbtn-form
    width: 100%
    padding: .8rem 1.7rem
    outline: none
    border: none
    font-size: 1rem