
.cbtn
    position: relative
    width: 200px
    font-size: 1rem
    padding: .8rem 1.7rem
    text-decoration: none !important
    cursor: pointer
    display: flex
    align-items: center
    justify-content: space-between

.cbtn-hoverable
    position: relative
    
    img 
        height: .8rem
        width: .8rem

    .hover-state
        position: absolute !important
        top: 0
        left: 0
        opacity: 0

.cbtn.orange
    position: relative
    margin: auto
    border: 1px solid #FFA756
    color: #FFA756
    font-weight: 500
    transition: 0.3s ease
    z-index: 1080

    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 0
        height: 100%
        z-index: -1
        background: #FFA756
        transition: 0.3s ease

    &:hover
        color: #fff

        &::before
            width: 100%
        
        .hover-state
            opacity: 1
            top: 6px
        
        .none-hover-state
            opacity: 0

.cbtn.blue
    position: relative
    border: 1px solid #1A3B5A
    color: #1A3B5A
    font-weight: 500
    transition: 0.3s ease
    z-index: 1080

    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 0
        height: 100%
        z-index: -1
        background: #1A3B5A
        transition: 0.3s ease

    &:hover
        color: #fff

        &::before
            width: 100%
        
        .hover-state
            opacity: 1
            top: 6px
        
        .none-hover-state
            opacity: 0



.cinput 
    width: 100%
    padding: .8rem 1rem
    outline: none
    border: none
    background: #fff


.cbtn-form
    width: 100%
    padding: .8rem 1.7rem
    outline: none
    border: none
    font-size: 1rem

.item-in-stock, .item-in-demmand, .item-popular
    margin-left: 10px
    padding: 3px 10px
    font-size: 13px
    color: #fff
    border-radius: 100px

.item-in-stock
    background: #53F3A6

.item-in-demmand
    background: #4EB5FF

.item-popular
    background: #FF9F59


// GOOGLE MAP
#googlemap
    position: absolute
    width: 100%
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 0
    
.gmap_canvas
    overflow: hidden
    background: none !important
    position: absolute
    right: 0
    left: 0
    top: 0
    bottom: 0
    height: 100%
    width: 100%
    z-index: 3

    #gmap_canvas
        height: 100% !important
        width: 100% !important