*
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    margin: 0
    padding: 0
    font-family: 'Montserrat', sans-serif !important
    position: relative
    background-color: #FBFBFB !important
    overflow-x: hidden

    .hview
        height: 100vh

.caption-content
    display: block !important
    z-index: 1080 !important

// NAVBAR
.nav-top
    position: fixed !important
    top: 0
    lef: 0
    right: 0
    width: 100%
    z-index: 2
    background: #1A3B5A

    .nav-border-navigator
        border-bottom: 1px solid #FFA756

    .nav-logo 
        h3 
            font-weight: 600
            margin: 0

            span 
                color: #FFA756

    .nav-links 
        list-style: none
        color: #fff
        margin-bottom: 0
        width: calc(30% + 40px)

        .nav-link 
            padding: .5rem 0

// CAROUSEL
#carouselExampleIndicators
    width: 100% !important
    // max-height: 90vh !important

.carousel
    .carousel-inner
        max-height: 90vh !important

    .carousel-indicators 
        bottom: 6rem

        li, li.active
            border-radius: 50%
            height: 10px
            width: 10px

    .address-box 
        position: absolute
        height: 12rem
        width: 90%
        background: #1A3B5A
        bottom: -6rem
        left: 50%
        transform: translateX(-50%)

        .address-details
            width: 50%
            padding: 25px

        .address-soc-icons
            width: 30%
            padding: 25px

        .address-gallery
            width: 20%

            img
                height: 12rem
                width: 100%

.min-container
    position: relative
    display: block
    width: 90%
    margin: auto

.cbtn
    width: 200px
    background: red !important
    font-size: 1rem
    padding: 1rem 2rem
    text-decoration: none !important
    cursor: pointer
    position: relative
    display: flex
    justify-content: space-between

    .btn-icon
        height: .8rem
        margin-left: 20px

// ABOUT-SECTION
.about-section
    margin: 12rem 0
    height: auto
    width: 100%

    .about-text-container
        flex-direction: column
        justify-content: space-around

    h5
        font-size: 3rem

    p 
        font-size: 1.2rem


// // STATISTICS-SECTION
.statistics-section
    height: auto
    width: 100%
    background: #fff
    box-shadow: 0px 15px 25px 4px rgba(75, 75, 75, 0.02) !important
    
    .min-container
        width: 80%

    .stats-box 
        margin: 5rem 0
        .stats-icon
            height: 50px
            widows: 50px
            margin: 0 0 1.5rem 0
        .stats-number
            display: block
            font-size: 80px
            font-weight: 600
            color: #FFA756
            line-height: 75px
        p 
            font-size: 20px
            font-weight: 600
            color: #1A3B5A
            margin: 0

// SLICK-DOTS
.slick-dots
    bottom: -50px !important
    width: 200px !important
    right: 0 !important
    // background: red !important

    li 
        button
            &::before
                font-size: 14px !important
                color: #1A3B5A !important

// PRODUCTS-SECTION
.products-section
    margin: 5rem 0

    .slick-list
        padding: 50px 0

    .card
        border-radius: 0 !important
        border: transparent
        box-shadow: 9px 10px 23px 4px rgba(0, 0, 0, 0.03)

        .card-img-top
            border-radius: 0 !important

    h5
        margin: 0 0 2rem 0

// MESSAGE-SECTION
.message-section
    background: #1A3B5A
.message-container
    margin: 0 !important

    .message-col
        padding: 0

        h2 
            padding: 5%
            font-size: 4.5rem
            font-weight: 600
            color: #fff
            position: relative

            &::before
                content: ""
                position: absolute
                height: 175px
                width: 15px
                background: #FFA756
                left: 0
                border-radius: 0 30px 30px 0

        .message-text 
            color: #fff
            opacity: 0.5
            font-style: italic
            width: 50%
            padding-left: 5%

        .profile-container
            padding-left: 5%
            align-items: center
            justify-content: start

            .profile-img 
                height: 70px
                width: 80px
                border-radius: 50%

            .profile-details
                padding: 0 20px

                .profile-name, .profile-position
                    margin: 0

                .profile-name
                    font-size: 20px
                    color: #FFA756

                .profile-position
                    font-size: 15px
                    color: #fff
                    opacity: 0.5