*
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    margin: 0
    padding: 0
    font-family: 'Montserrat', sans-serif !important
    position: relative

    .hview
        height: 100vh

    // NAVBAR
    .nav-top
        position: fixed !important
        top: 0
        lef: 0
        right: 0
        width: 100%
        z-index: 2

        .nav-border-navigator
            border-bottom: 1px solid #FFA756

        .min-container
            position: relative
            display: block
            width: 90%
            margin: auto

            .nav-logo 
                h3 
                    font-weight: 600
                    margin: 0

                    span 
                        color: #FFA756

            .nav-links 
                list-style: none
                color: #fff
                margin-bottom: 0
                width: calc(30% + 40px)

                .nav-link 
                    padding: .5rem 0

    // CAROUSEL
    #carouselExampleIndicators
        width: 100% !important
        // max-height: 90vh !important

    .carousel
        .carousel-inner
            max-height: 90vh !important

        .carousel-indicators 
            bottom: 6rem

            li, li.active
                border-radius: 50%
                height: 10px
                width: 10px

        .address-box 
            position: absolute
            height: 12rem
            width: 90%
            background: #1A3B5A
            bottom: -6rem
            left: 50%
            transform: translateX(-50%)
                
